* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.title {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 2rem;
}

.intro-chunk {
  max-width: 320px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 48px;
  padding-bottom: 48px;
}

.card {
  margin-left: -16px;
  padding: 8px 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  max-width: fit-content;
  padding: 8px 16px;
  margin: 0;
  margin-left: -24px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  font-size: 1.25rem;
}
